[submodule "AmbientSounds"]
	path = AmbientSounds
	url = https://github.com/CreativeMD/AmbientSounds.git
[submodule "CreativeCore"]
	path = CreativeCore
	url = https://github.com/CreativeMD/CreativeCore.git
[submodule "CreativeLoaderFabric"]
	path = CreativeLoaderFabric
	url = https://github.com/CreativeMD/CreativeLoaderFabric.git
[submodule "EnhancedVisuals"]
	path = EnhancedVisuals
	url = https://github.com/CreativeMD/EnhancedVisuals.git
[submodule "ItemPhysic"]
	path = ItemPhysic
	url = https://github.com/CreativeMD/ItemPhysic.git
[submodule "ItemPhysicLite"]
	path = ItemPhysicLite
	url = https://github.com/CreativeMD/ItemPhysicLite.git
[submodule "OpticManager"]
	path = OpticManager
	url = https://github.com/CreativeMD/OpticManager.git
